#content {
	text-align: center;
	padding-top: 25%;
}

body {

	background: url(https://source.unsplash.com/dKeB0-M9iiA);
	background-size: cover;
	background-position: center;
	font-family: Josefin;
	color: white;
}

html {
	height: 100%;
}

h1 {
	font-weight: 700;
	font size: 5rem;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255, 255, 255, 0.75), rgba(255,255,255,0));
}

.uotba {
	padding-top: 10px;
	height: 65px;
	width: 80px;

}

.top {
	padding: 25px;
}

.linker {
	color: white;
	align-content: right;
}
